/* =========================================
            Contact page
   ========================================= */

.page-content:has(.page-contact) {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
  min-height: calc(100vh - 200px);
  flex-direction: column;
  box-sizing: border-box;
}
.contact-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  gap: 60px;
  background: var(--color-bg);
  color: var(--color-darkd);
  box-sizing: border-box;
}

/*  Partie gauche : image  */
.contact-left {
  position: relative;
  flex: 0 0 48%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/* Photo*/
.blob-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  object-position: top center;
  top: 0;
  left: 0;
  z-index: 1;
  animation: blobPhotoAnim 8s infinite alternate;
  border: 3px solid rgba(138, 172, 163, 0.5);
}

/* Animation blob principal */
@keyframes blobPhotoAnim {
  0% {
    border-radius: 45% 55% 55% 45% / 50% 45% 55% 50%;
  }
  25% {
    border-radius: 55% 45% 50% 50% / 45% 55% 50% 55%;
  }
  50% {
    border-radius: 50% 50% 45% 55% / 55% 50% 45% 50%;
  }
  75% {
    border-radius: 55% 50% 55% 45% / 50% 55% 50% 45%;
  }
  100% {
    border-radius: 45% 55% 55% 45% / 50% 45% 55% 50%;
  }
}

/* Animation blob de fond */
@keyframes blobBackAnim {
  0% {
    border-radius: 48% 52% 52% 48% / 50% 48% 52% 50%;
    transform: translate(-50%, -50%) scale(1);
  }
  25% {
    border-radius: 52% 48% 50% 50% / 48% 52% 50% 52%;
    transform: translate(-50%, -50%) scale(1.03);
  }
  50% {
    border-radius: 50% 50% 48% 52% / 52% 50% 48% 50%;
    transform: translate(-50%, -50%) scale(1.02);
  }
  75% {
    border-radius: 52% 50% 52% 48% / 50% 52% 50% 48%;
    transform: translate(-50%, -50%) scale(1.03);
  }
  100% {
    border-radius: 48% 52% 52% 48% / 50% 48% 52% 50%;
    transform: translate(-50%, -50%) scale(1);
  }
}

.blob-back {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  background: var(--color-midc);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 0.5;
  animation: blobBackAnim 10s infinite alternate;
  z-index: 0;
}

/*  Partie droite : texte  */
.contact-right {
  flex: 0 0 52%;
  max-width: 55%;
}

.contact-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 50px;
  color: var(--color-darkm);
  cursor: default;
}

.contact-text {
  font-size: 1.4rem;
  line-height: 1.9;
  margin-bottom: 60px;
  color: var(--color-darkm);
  cursor: default;
}

.contact-links-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 30%;
}

/*  Boutons reseaux sociaux  */
.contact-links {
  display: flex;
  gap: 25px;
}

.btn-social {
  width: 65px;
  height: 65px;
  background-color: var(--color-midd);
  color: var(--color-lightc);
  border-radius: 50%;
  font-size: 2.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  text-decoration: none;
}

.btn-social:hover {
  background-color: var(--color-midc);
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Bouton CV */
/* .btn-cv {
  color: var(--color-lightc);
  border-color: var(--color-midm);
  background-color: var(--color-midd);
  width: 150px;
  height: 45px;
  text-align: center;
  align-content: center;
  transition: all 0.3s ease;
  border-radius: 50px;
  padding: 10px 25px;
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
}

.btn-cv:hover {
  background-color: var(--color-midc);
  color: var(--color-lightc);
  transform: translateY(-2px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
} */

.contact-left-container {
  position: relative;
  width: 350px;
  height: 350px;
  margin: 50px auto;
}
/* =========================================
                Responsives
   ========================================= */

@media (max-width: 992px) and (min-width: 768px) {
  .contact-container {
    flex-direction: column;
    width: 100%;
    padding: 55px 10px;
    gap: 30px;
    margin-top: 50px;
  }

  .contact-left,
  .contact-right {
    flex: 0 0 100%;
    max-width: 100%;
    justify-content: center;
  }
  .contact-left {
    margin-bottom: 20px;
  }

  .contact-left-container {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 30px auto;
  }
  .blob-back {
    width: 350px;
    height: 350px;
  }
  .contact-title {
    font-size: 38px;
    justify-self: center;
    margin-bottom: 15px;
  }
  br {
    display: none;
  }
  .contact-links-container {
    flex-direction: column;
    gap: 15px;
    align-items: center;
    gap: 30px;
  }

  .btn-social {
    width: 80px;
    height: 80px;
    font-size: 2.7rem;
  }

  .contact-text {
    text-align: center;
    font-size: 30px;
  }
}

@media (min-width: 992px) and (orientation: portrait) {
  .contact-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 100px 10px;
    gap: 30px;
    margin-top: 120px;
  }

  .contact-left,
  .contact-right {
    flex: 0 0 100%;
    max-width: 100%;
    justify-content: center;
  }
  .contact-left {
    margin-bottom: 20px;
  }

  .contact-left-container {
    position: relative;
    width: 350px;
    height: 350px;
    margin: 30px auto;
  }
  .blob-back {
    width: 400px;
    height: 400px;
  }
  .contact-title {
    font-size: 42px;
    justify-self: center;
    margin-bottom: 15px;
  }
  br {
    display: none;
  }
  .contact-links-container {
    flex-direction: column;
    gap: 15px;
    align-items: center;
    gap: 30px;
  }

  .btn-social {
    width: 90px;
    height: 90px;
    font-size: 2.8rem;
  }

  .contact-text {
    text-align: center;
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .contact-container {
    flex-direction: column;
    width: 100%;
    padding: 30px 0 3px;
    gap: 25px;
    margin: 30px 0 0;
  }

  .contact-left-container {
    width: 180px;
    height: 180px;
    margin: 20px auto;
  }
  .contact-right {
    max-width: 100%;
  }
  .contact-title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 25px;
  }

  .contact-text {
    font-size: 1.1rem;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 25px;
  }

  .contact-links-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .btn-social {
    width: 45px;
    height: 45px;
    font-size: 1.4rem;
  }

  .blob-back {
    width: 200px;
    height: 200px;
  }
}

@media (min-width: 1400px) {
  .contact-container {
    max-width: 1900px;
    gap: 120px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .contact-left-container {
    position: relative;
    width: 500px;
    height: 500px;
    margin: 30px auto;
  }
  .blob-back {
    width: 550px;
    height: 550px;
  }
  .contact-text {
    font-size: 1.9rem;
  }
  .contact-title {
    font-size: 3.4rem;
  }
  .btn-social {
    width: 90px;
    height: 90px;
    font-size: 2.6rem;
  }
}
