
.error-page {
  background: var(--color-midc);
  color: var(--color-lightc);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
  text-align: center;
  flex-direction: column;
}
.error-page img {
  max-width: 500px;
}
.error-page h1 {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.error-page h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 15px;
}

.error-page p {
  font-size: 1.25rem;
  margin-bottom: 30px;
  max-width: 500px;
  line-height: 1.5;
}
.error-page .btn-home {
  font-size: 1.1rem;
  padding: 12px 30px;
  border-radius: 50px;
  background-color: var(--color-lightc);
  color: var(--color-darkd);
  border: none;
  transition: all 0.3s ease;
  text-decoration: none;
}
.error-page .btn-home:hover {
  background-color: var(--color-lightm);
  color: var(--color-darkm);
}
